<h1>Silver Connect</h1>

<ul>
  <li>
    <a>
      Applicants
    </a>
    <ul>
      <li>
        <a href="/applicants/sign_up">
          Applicant Sign Up
        </a>
      </li>
      <li>
        <a href="/applicants/sign_in">
          Applicant Sign In
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a>
      Employers
    </a>
    <ul>
      <li>
        <a href="/employers/sign_up">
          Employer Sign Up
        </a>
      </li>
      <li>
        <a href="/employers/sign_in">
          Employer Sign In
        </a>
      </li>
    </ul>
  </li>
</ul>
