<h1>Silver Connect</h1>
<h2>
  Silver Connect bridges the gap between experienced seniors and inclusive workplaces, fostering opportunities for meaningful contributions and continuous growth. We empower elders to stay engaged while helping organizations benefit from diverse, skilled talent—building a more connected, intergenerational society
</h2>

<ul>
  <li>
    <a>
      If you want to apply for jobs
    </a>
    <ul>
      <li>
        <a href="/applicants/sign_up">
          Applicant Sign Up
        </a>
      </li>
      <li>
        <a href="/applicants/sign_in">
          Applicant Sign In
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a>
      If you want to hire
    </a>
    <ul>
      <li>
        <a href="/employers/sign_up">
          Employer Sign Up
        </a>
      </li>
      <li>
        <a href="/employers/sign_in">
          Employer Sign In
        </a>
      </li>
    </ul>
  </li>
</ul>
