<div>
  <div>
    <h1>
      Create new job posting
    </h1>
  </div>
</div>

<hr>

<div>
  <form action="/insert_job_posting" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="responsibilities_box">
          Responsibilities
        </label>

        <textarea id="responsibilities_box" name="query_responsibilities" rows="3"></textarea>
      </div>

      <div>
        <label for="desired_qualifications_box">
          Desired qualifications
        </label>

        <textarea id="desired_qualifications_box" name="query_desired_qualifications" rows="3"></textarea>
      </div>

      <div>
        <label for="logistics_box">
          Logistics
        </label>

        <textarea id="logistics_box" name="query_logistics" rows="3"></textarea>
      </div>

      <div>
        <label for="pay_range_box">
          Pay range
        </label>

        <input type="text" id="pay_range_box" name="query_pay_range">
      </div>

<!--      <div>
        <input type="hidden" name="employer_id" value="<%#= current_employer.id %>">
      </div>-->

      <button>
        Add job posting
      </button>
    </form>
  </div>
</div>
